<p>Vee could do things you only dreamed of, Lebowski. Dolor sit amet, consectetur adipiscing. I don't like your jerk-off name, I don't like your jerk-off face, I don't like your jerk-off behavior, and I don't like you, jerk-off. Elit praesent ac magna. Come on, Donny, they were threatening castration! Justo pellentesque ac lectus quis elit blandit fringilla a ut turpis praesent felis. Vee vant zat money, Lebowski. Ligula, malesuada suscipit malesuada non, ultrices non urna sed orci ipsum, placerat.<p>

<p>What the fuck does Vietnam have to do with anything! What the fuck were you talking about?! Id condimentum rutrum, rhoncus ac lorem aliquam. Call the medics, Dude. Placerat posuere neque, at dignissim magna ullamcorper in aliquam sagittis massa. I don't see any connection to Vietnam, Walter. Ac tortor ultrices faucibus curabitur eu mi sapien, ut ultricies ipsum morbi eget risus. And I'm talkin' about the Dude here —sometimes there's a man who, wal, he's the man for his time'n place, he fits right in there—and that's the Dude, in Los Angeles. Nulla nullam vel nisi enim.</p>

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<h1>Panels</h1>
<div class="panel">
  <div class="panel panel-default">
  	<div class="panel-heading">
  		<h3>Panel Title</h3>
  	</div>
  	<div class="panel-body"></div>
  </div>
  
  <div class="panel panel-primary">
  	<div class="panel-heading">
  		<h3>Panel Title</h3>
  	</div>
  	<div class="panel-body"></div>
  </div>
  
  <div class="panel panel-success">
  	<div class="panel-heading">
  		<h3>Panel Title</h3>
  	</div>
  	<div class="panel-body"></div>
  </div>
  
  <div class="panel panel-info">
  	<div class="panel-heading">
  		<h3>Panel Title</h3>
  	</div>
  	<div class="panel-body"></div>
  </div>
</div>

<h1>Alerts</h1>

<div class="alert alert-success">Success Alert</div>
<div class="alert alert-warning">Warning Alert</div>
<div class="alert alert-danger"> Danger Alert</div>

<h1>Buttons</h1>

<div class="btn btn-default">Default</div>
<div class="btn btn-primary">Primary</div>
<div class="btn btn-success">Success</div>
<div class="btn btn-info">Info</div>
<div class="btn btn-warning">Warning</div>
<div class="btn btn-danger">Danger</div>

<h1>Form Elements</h1>

<div class="input-group">
  <span class="input-group-addon">@</span>
  <input type="text" class="form-control" placeholder="Username">
</div>

<div class="input-group">
  <input type="text" class="form-control">
  <span class="input-group-addon">.00</span>
</div>

<div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control" placeholder="price">
  <span class="input-group-addon">.00</span>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox">
      </span>
      <input type="text" class="form-control">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon">
        <input type="radio">
      </span>
      <input type="text" class="form-control">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
